body {
    background-color: #F0F0F0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Estilo das sections */
.animation {
	display: inline-block;
	border-radius: 0%;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease;
	margin: 20px;
	margin-top: 80px;
	
	
	width: 280px ;
	height: 220px;

}

main {
	margin-bottom: 190px;
	margin-left: 90px;
}

/*.descricao-do-curso {
	margin-top: 90px;
    background-color: #FFFFFF;
    width: 90%;
    height: auto;
    text-align: left;
}*/

.image {
	width: 230px ;
	height: 200px;
	margin-left: 35px;
	margin-top: 10px;
	
}

.margin-primeiro {
	margin-left: 100px;
}

/* Efeito de hover nas sections */
/*section:hover {
	transform: scale(1.1);
}*/



/* Efeito de hover nas imagens */
section:hover img {
  filter: brightness(80%);
  transform: scale(1.1);
  
  
}

p {
	font-family: arial ;
	font-size: 18px ;
}

nav {
	background-color: #1d3666;
	border-radius: 0px;
	font-family: arial;
	color: white;
	width: 250px ;
	height: 60px;
	text-align: center;
	margin-left: 50px;
	margin-top: 35px;
	
}